<div class="backdrop is-hidden" data-buy-modal>
    <div class="modal-buy-now">
        <button type="button" class="modal-close-btn" data-buy-modal-close>
            <svg class="modal-close-icon" >
              <use href="./img/icons.svg#icon-close-icon"></use>
            </svg>
          </button>
        <h2 class="buy-now-hero-text">BUY <span class="buy-now-text-second">NOW</span></h2>
        <div class="buy-now-product">
            <ul class="buy-product-list list">
                <li class="buy-nov-product-item">
                    <div class="products-card-container">
                        <img
                          class="products-img"
                          srcset="./img/buy-now/chocolate-bar-kinder@2x.jpg 2x"
                          src="./img/buy-now/chocolate-bar-kinder.jpg"
                          alt="chocolate-bar-kinder"
                        />
                        <div class="buy-products-btn">100 g</div>
                    </div>
                </li>
                <li class="buy-nov-product-item"> 
                    <div class="products-card-container">
                        <img
                          class="products-img"
                          srcset="./img/buy-now/chocolate-bar-praline@2x.jpg 2x"
                          src="./img/buy-now/chocolate-bar-praline.jpg"
                          alt="chocolate-bar-praline"
                        />
                        <div class="buy-products-btn">200 g</div>
                    </div>
                </li>
                <li class="buy-nov-product-item"> 
                    <div class="products-card-container">
                        <img
                          class="products-img"
                          srcset="./img/buy-now/transparent-chocolate@2x.jpg 2x"
                          src="./img/buy-now/transparent-chocolate.jpg"
                          alt="transparent-chocolate"
                        />
                        <div class="buy-products-btn">300 g</div>
                    </div>
                </li>
            </ul>
        </div>
        <form class="contact-form">
            <div class="form-wrapper">
                <label for="user-name" class="contact-form-field-wrapper">
                <span class="input-text">Personal information</span>
                </label>
                <div class="contact-form-input">
                    <input
                    class="form-input"
                    id="user-name"
                    type="text"
                    name="user-name"
                    required
                    title="Write your name"
                    pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ']+"
                    placeholder="Name"
                  />
                  <input
                  class="form-input"
                  id="user-surname"
                  type="text"
                  name="user-surname"
                  required
                  title="Write your surname"
                  pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ']+"
                  placeholder="Surname"
                />
                </div>
            </div>
            <div class="form-wrapper">
                <label for="user-mail" class="contact-form-field-wrapper">
                <span class="input-text">Email</span>
                </label>
                <div class="contact-form-input">
                    <input
                    class="form-input"
                    id="user-mail"
                    type="email"
                    name="email"
                    required
                    title="example@gmail.com"
                    pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                    placeholder="Enter your email"
                  />
                </div>
            </div>
            <div class="form-wrapper">
                <label for="user-phone" class="contact-form-field-wrapper">
                <span class="input-text">Phone number</span>
                </label>
                <div class="contact-form-input">
                    <input
                    class="form-input"
                    id="user-phone"
                    type="tel"
                    name="phone-number"
                    required
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                    title="xxx-xxx-xx-xx"
                    placeholder="Phone number"
                   />
                </div>
            </div>
            <div class="form-wrapper">
                    <label for="card-number" class="contact-form-field-wrapper">
                    <span class="input-text">Card number</span>
                    </label>
                    <div class="contact-form-input">
                        <input
                        class="form-input"
                        id="card-number"
                        type="tel"
                        name="card-number"
                        required
                        title="xxxx xxxx xxxx xxxx"
                        pattern="[0-9]"
                        placeholder="Enter card" maxlength="19" 
                      />
                      <svg class="card-icon" width="32" height="21">
                        <use href="./img/icons.svg#"></use>
                      </svg>
                    </div>  
            </div>  
            <div class="form-comment-wrapper">
                <label class="contact-form-field-wrapper" for="user-comment">
                  <span class="input-text">Comment</span></label
                >
                <textarea
                  id="user-comment"
                  class="contact-form-message"
                  name="user-comment"
                  placeholder="Text input"
                ></textarea>
              </div>           
            <button class="contact-form-submit" type="submit">Submit</button>
        </form>

    </div>
</div>
