<div class="backdrop is-hidden" data-modal>
    <div class="modal-buy-now">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-icon" >
              <use href="./img/icons.svg#icon-close-icon"></use>
            </svg>
          </button>
        <h1 class="buy-now-hero-text">BUY <span class="buy-now-text-second">NOW</span></h1>
        <div class="buy-now-product">
            <ul class="buy-product-list list">
                <li class="buy-nov-product-item">
                    <div class="products-card-container">
                        <img
                          class="products-img"
                          srcset="./img/buy-now/chocolate-bar-kinder@2x.jpg 2x"
                          src="./img/buy-now/chocolate-bar-kinder.jpg"
                          alt="chocolate-bar-kinder"
                        />
                        <div class="buy-products-btn">100 g</div>
                    </div>
                </li>
                <li class="buy-nov-product-item"> 
                    <div class="products-card-container">
                        <img
                          class="products-img"
                          srcset="./img/buy-now/chocolate-bar-praline@2x.jpg 2x"
                          src="./img/buy-now/chocolate-bar-praline.jpg"
                          alt="chocolate-bar-praline"
                        />
                        <div class="buy-products-btn">200 g</div>
                    </div>
                </li>
                <li class="buy-nov-product-item"> 
                    <div class="products-card-container">
                        <img
                          class="products-img"
                          srcset="./img/buy-now/transparent-chocolate@2x.jpg 2x"
                          src="./img/buy-now/transparent-chocolate.jpg"
                          alt="transparent-chocolate"
                        />
                        <div class="buy-products-btn">300 g</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
