<div class="subscribe-pop-up is-hidden" data-modal>
  <div class="subscribe-pop-up-window">
    <div class="subscribe-pop-up-top">
      <button type="button" class="subscribe-pop-up-close-btn" data-modal-close>
        <svg class="subscribe-pop-up-close-icon" width="14" height="14">
          <use href="./img/icons.svg#icon-close-icon"></use>
        </svg>
      </button>
    </div>
    <div class="subscribe-pop-up-bottom">
      <h2 class="subscribe-pop-up-header">
        EXPLORE OUR
        <span class="subscribe-pop-up-header-orange">NEW CHOCOLATE</span> FIRST!
      </h2>
      <form class="subscribe-pop-up-email-form">
        <input
          class="subscribe-pop-up-email-form-input"
          type="email"
          name="user-email"
          placeholder="Enter your email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <button type="submit" class="subscribe-pop-up-btn">Subscribe</button>
      </form>
    </div>
  </div>
</div>
