<header class="header">
<div class="container">
    <a class="header-logo" href="">SIMPLY CHOCOLATE</a>
    
    <button class="header-menu-open-button" type="button">
      <svg width="32" height="32">
        <use href="../img/icons.svg#icon-open-menu-btn"></use>
      </svg>
    </button>

    
  <!-- Позабирайте айдішки до своїх секцій -->
  <nav class="header-nav">
    <ul class="header-nav-menu list">
      <li class="header-nav-item">
        <a class="header-nav-link link" href="#home">Home</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link link" href="#how-it-made">How it&#39;s made?</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link link" href="#our-products">Our products</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link link" href="#top-sellers">Top sellers</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link link" href="#chocolate-is-loved">Chocolate is loved</a>
      </li>
    </ul>
  </nav>

  <ul class="header-app-menu list">
    <li class="header-app-item">
      <a class="header-app-link link" href="">
        <svg class="header-icon" height="24" width="24">
          <use href="../img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>

    <li class="header-app-item">
      <a class="header-app-link link" href="">
        <svg class="header-icon" height="24" width="24">
          <use href="../img/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>

  <!-- мобільне меню -->
  <div class="header-mobale-menu">
<div class="header-mobale-menu-wrapper">
<button class="header-close-btn" type="button">
  <svg class="header-close-btn-icon" width="32" height="32">
    <use href="../img/icons.svg#icon-menu-close-btn"></use>
  </svg>
</button>

  <nav class="header-nav">
    <ul class="header-nav-menu">
      <li class="list header-nav-item">
        <a class="header-nav-link link" href="#home">Home</a>
      </li>
      <li class="list header-nav-item">
        <a class="header-nav-link link" href="#how-it-made">How it&#39;s made?</a>
      </li>
      <li class="list header-nav-item">
        <a class="header-nav-link link" href="#our-products">Our products</a>
      </li>
      <li class="list header-nav-item">
        <a class="header-nav-link link" href="#top-sellers">Top sellers</a>
      </li>
      <li class="list header-nav-item">
        <a class="header-nav-link link" href="#chocolate-is-loved">Chocolate is loved</a>
      </li>
    </ul>
  </nav>

  <ul class="header-app-menu list">
    <li class="header-app-item">
      <a class="header-app-link link" href="">
        <svg class="header-icon" height="24" width="24">
          <use href="../img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
  
    <li class="header-app-item">
      <a class="header-app-link link" href="">
        <svg class="header-icon" height="24" width="24">
          <use href="../img/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
  </div>
</div>
</header>
