<header class="header">
  <div class="header-container container">
    <div class="header-logo-wrapper">
      <a class="header-logo" href=""
        ><span class="header-logo-first-part">SIMPLY</span> CHOCOLATE</a>
      <svg class="header-logo-icon" width="21" height="21">
        <use href="./img/header/header-icon.svg#icon-chocolate-logo"></use>
      </svg>
    </div>

    <button class="header-menu-open-button js-open-menu" type="button">
      <svg class="header-menu-open-button-icon" width="21" height="14">
        <use href="./img/header/header-icon.svg#icon-open-menu-btn"></use>
      </svg>
    </button>

    <!-- Позабирайте айдішки до своїх секцій -->
    <nav class="header-nav">
      <ul class="header-nav-menu list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#home">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#how-it-made"
            >How it&#39;s made?</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#our-products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-app-menu list">
      <li class="header-app-item">
        <a class="header-app-link link" href="">
          <svg class="header-icon" height="24" width="24">
            <use href="./img/header/header-icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="header-app-item">
        <a class="header-app-link link" href="">
          <svg class="header-icon" height="24" width="24">
            <use href="./img/header/header-icon.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="mobile-menu container js-menu-container">
    <div class="mobile-wrapper">

      <button class="mobile-close-btn js-close-menu" type="button">
        <svg class="header-close-btn-icon" width="12" height="12">
          <use href="./img/header/header-icon.svg#icon-close-btn"></use>
        </svg>
      </button>

      <nav class="mobile-nav">
        <ul class="mobile-nav-menu list">
          <li class="mobile-nav-item">
            <a class="mobile-nav-link link" href="#home">Home</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link link" href="#how-it-made">How it&#39;s made?</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link link" href="#our-products">Our products</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link link" href="#top-sellers">Top sellers</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link link" href="#chocolate-is-loved">Chocolate is loved</a>
          </li>
        </ul>

        <ul class="mobile-app-menu list">
          <li class="mobile-app-item">
            <a class="mobile-app-link link" href="">
              <svg class="mobile-icon" height="22" width="22">
                <use href="./img/header/header-icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        
          <li class="mobile-app-item">
            <a class="mobile-app-link link" href="">
              <svg class="mobile-icon" height="20" width="20">
                <use href="./img/header/header-icon.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
