<section class="hero-section">
  <div class="container">
    <h1 hidden>Hero</h1>
    <h2 class="hero-text">Treat yourself or a loved one to 
        our finest ingredients for a moment 
        of pure delight!</h2>
    <div class="hero-btn-container">
        <button type="button" class="hero-btn-buy">Buy now</button>
        <a href="#how-it-made" class="hero-btn-how link">How it’s made</a>
        <a class="hero-scroll" href="#footer">
            scroll down 
            <span class="hero-scroll-icon"><svg class="hero-icon" 
                width="22"
            height="22">
            <use href="./img/icons.svg#icon-arrow-sign"> 
            </use></svg></span>
        </a> 
            <!-- <span class="hero-scroll-icon">
            <svg class="hero-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-arrow-sign"> 
            </use></svg></span> -->
        <!-- <div class="hero-scroll-btn-wrapper">
            <a href="#footer" class="hero-scroll">scroll down 
                <span class="hero-scroll-icon"><svg class="hero-icon" 
                    width="22"
                height="22">
                <use href="./img/icons.svg#icon-arrow-sign"> 
                </use></svg></span>
            </a> 
        </div> -->
    </div>
  </div>
</section>
