<section class="hero">
  <div class="hero-container hero-section">
    <h1 class="visually-hidden">Hero</h1>
    <h2 class="hero-text">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-btn-container">
      <button class="hero-btn-buy js-open-modal" data-modal="1" type="button">
        Buy now
      </button>
      <a href="#how-it-made" class="hero-btn-how link">How it’s made</a>
      <a class="hero-scroll" href="#footer"
        >scroll down<span class="hero-scroll-icon"
          ><svg class="hero-icon">
            <use href="./img/icons.svg#icon-arrow-sign"></use></svg></span
      ></a>
    </div>
  </div>
</section>
