<section class="how-section">
  <h1 class="how-h">
    How it's <span class="our-products-main-title-span">made?</span>
  </h1>

  <div>
    <picture class="how-picture">
      <source
        srcset="
          ./img/how/desktop/image@1x.jpg 1x,
          ./img/how/desktop/image@2x.jpg 2x
        "
        media="(min-width: 1200px)" />

      <source
        srcset="
          ./img/how/tablet/image@1x.jpg 1x,
          ./img/how/tablet/image@2x.jpg 2x
        "
        media="(min-width: 768px)" />

      <source
        srcset="
          ./img/how/mobile/image@1x.jpg 1x,
          ./img/how/mobile/image@2x.jpg 2x
        "
        media="(min-width: 320px)" />

      <img src="./img/how/mobile/image@1x.jpg" alt="Chokolad"
    /></picture>

    <div>
      <p class="how-paragraph">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul>
        <li>
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li>At the same time, prepare a water bath. Melt the butter on it.</li>
        <li>
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li>Heat the mixture over low heat, letting it barely boil.</li>
        <li>
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
