<div>mobile-menu</div>
    <!-- мобільне меню -->
    <div class="mobile-menu js-menu-container">
        <div class="header-mobile-menu-wrapper">
            <button class="mobile-close-btn js-close-menu" type="button">
                <svg class="header-close-btn-icon" width="12" height="12">
                    <use href="./img/header/header-icon.svg#icon-close-btn"></use>
                </svg>
            </button>
    
            <nav class="mobile-nav">
                <ul class="mobile-nav-menu list">
                    <li class="mobile-nav-item">
                        <a class="mobile-nav-link link" href="#home">Home</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a class="mobile-nav-link link" href="#how-it-made">How it&#39;s made?</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a class="mobile-nav-link link" href="#our-products">Our products</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a class="mobile-nav-link link" href="#top-sellers">Top sellers</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a class="mobile-nav-link link" href="#chocolate-is-loved">Chocolate is loved</a>
                    </li>
                </ul>
            </nav>
    
            <ul class="mobile-app-menu list">
                <li class="mobile-app-item">
                    <a class="mobile-app-link link" href="">
                        <svg class="mobile-icon" height="22" width="22">
                            <use href="./img/header/header-icon.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
    
                <li class="mobile-app-item">
                    <a class="mobile-app-link link" href="">
                        <svg class="mobile-icon" height="20" width="20">
                            <use href="./img/header/header-icon.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>