<section class="reviews-section">
  <div class="reviews-container">
    <h2 class="reviews-section-title">
      chocolate<span class="reviews-section-title-span"> is loved</span>
    </h2>
    <ul class="reviewers">
      <li class="reviewers-list">
        <div class="reviewer-container">
          <img
            class="ellipse"
            srcset="
              ./img/reviews/Victoria-Dobrzhanska.jpg    1x,
              ./img/reviews/Victoria-Dobrzhanska@2x.jpg 2x
            "
            src="./img/reviews/Victoria-Dobrzhanska.jpg"
            alt="Victoria Dobrzhanska"
            width=""
            height=""
          />
          <h3 class="reviewer-name">Victoria Dobrzhanska</h3>
          <p class="reviewer-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviewers-list tablet-2">
        <div class="reviewer-container">
          <img
            class="ellipse"
            srcset="
              ./img/reviews/Nazar-Babenko.jpg    1x,
              ./img/reviews/Nazar-Babenko@2x.jpg 2x
            "
            src="./img/reviews/Nazar-Babenko.jpg"
            alt="Nazar Babenko"
            width=""
            height=""
          />
          <h3 class="reviewer-name">Nazar Babenko</h3>
          <p class="reviewer-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviewers-list tablet-3">
        <div class="reviewer-container">
          <img
            class="ellipse"
            srcset="
              ./img/reviews/Olena-Kampusch.jpg    1x,
              ./img/reviews/Olena-Kampusch@2x.jpg 2x
            "
            src="./img/reviews/Olena-Kampusch.jpg"
            alt="Olena Kampusch"
            width=""
            height=""
          />
          <h3 class="reviewer-name">Olena Kampusch</h3>
          <p class="reviewer-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <button class="review-send-btn">Leave a review</button>
  </div>
</section>
