<section class="top-sellers" id="top-sellers">
  <div class="container">
    <h2 class="top-title"> <span class="top-span">TOP</span> SELLERS</h2>

    <ul class="top-wrp list">
      <li class="top-item top">
        <div class="top-img">
          <picture>
            <source srcset=" ./img/top-sellers/desktop/top-s3desk.jpg 1x,
                  ./img/top-sellers/desktop/top-s3desk-2x.jpg 2x" media="(min-width: 1200px)" />

            <source srcset="./img/top-sellers/tablet/top-s2tab.jpg 1x,
                  ./img/top-sellers/tablet/top-s2tab-2x.jpg 2x" media="(min-width: 768px)" />

            <source srcset="./img/top-sellers/mobile/top-s2mob.jpg 1x,
                  ./img/top-sellers/mobile/top-s2mob-2x.jpg 2x" media="(min-width: 320px)" />

            <img class="top-image" src="./images/top-sellers/desktop/top-s3desk.jpg" alt="chocolate" width="368" />
          </picture>
        </div>
        <p class="top-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao
          has been around for
          thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
      </li>
      <li class="top-item">
        <div class="top-img">
          <picture>
            <source srcset=" ./img/top-sellers/desktop/top-s2desk.jpg 1x,
                                  ./img/top-sellers/desktop/top-s2desk-2x.jpg 2x" media="(min-width: 1200px)" />

            <source srcset="./img/top-sellers/tablet/top-s1tab.jpg 1x,
                                  ./img/top-sellers/tablet/top-s1tab-2x.jpg 2x" media="(min-width: 768px)" />

            <source srcset="./img/top-sellers/mobile/top-s1mob.jpg 1x,
                                  ./img/top-sellers/mobile/top-s1mob-2x.jpg 2x" media="(min-width: 320px)" />

            <img class="top-image" src="./images/top-sellers/desktop/top-s2desk.jpg" alt="chocolate" width="368" />
          </picture>
        </div>
        <div class="top-button">
          <button type="submit" class="top-btn">Buy now</button>
        </div>
      </li>
      <li class="top-item">
        <img class="top-image top-desk" srcset="./img/top-sellers/desktop/top-s1desk.jpg 1x,
                    ./img/top-sellers/desktop/top-s1desk-2x.jpg 2x" src="./img/top-sellers/desktop/top-s1desk.jpg"
          alt="chocolate" width="368">
      </li>
    </ul>
  </div>
</section>