.advantages {
  background-color: var(--bg-dark-color);
}

.advantages-title-text {
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: start;
  color: var(--text-light-color);
  margin-bottom: 18px;
}
.advantages-descr-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
}
.advantages-icon {
  fill: #fd9222;
}
