/* ===============MOBILE=============== */

.advantages-section {
  background-color: var(--bg-dark-color);
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: start;
  letter-spacing: 0.01em;
  color: var(--text-light-color);
  margin-bottom: 18px;
}
.advantages-descr-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
}
.advantages-icon {
  fill: #fd9222;
  width: 32px;
  height: 32px;
}
.advantages-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 62px;
  background-color: var(--bg-dark-color);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}

.advantages-container-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
/* ===============TABLET=============== */

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages-container-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
  .advantages-container-item {
    display: block;
    height: 100%;
    max-width: 336px;
  }
  .advantages-descr-text {
    max-width: 308px;
  }
}

/* ===============DESKTOP=============== */

@media screen and (min-width: 1200px) {
  .advantages-container-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    gap: 70px;
  }
  .advantages-container-item {
    position: relative;
    display: block;
    height: 100%;
    max-width: 336px;
  }

  .current::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    right: -18px;
  }
}
