.foot-container {

}

.foot-title {

}

.foot-title-text {

}

.foot-contacts {

}

.foot-contacts::after {
    content: '';
    background-color: tomato;
    height: 1px;
    width: 335px;
    display: block;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}

.foot-contacts-title {

}

.foot-contacts-social {

}

.social-svg {
    /* border: 1.5px solid tomato; */
    fill: var(--text-dark-color);
}

.foot-map-site-list {

}