.header {
  background-color: var(--text-light-color);
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-first-part {
font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111111;
}

.header-logo {
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
}

.header-logo-icon {
  fill: var(--hover-accent-color);
}

.header-menu-open-button {
  border: none;
  background-color: transparent;
  fill: #111111;
  padding: 0;
  width: 28px;
  height: 28px;
}

.header-nav {
  display: none;
}

.header-app-menu {
  display: none;
}

.header-mobale-menu {
  position: fixed;
  height: 100%;
  width: 220px;
  top: 0;
    right: 0;
    background-color: var(--main-white-color);
    opacity: 0;
      visibility: hidden;
      pointer-events: none;

}