
@media screen and (max-width: 767px) {
    .hero-section {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url('../img/hero-img/mobile-chocolate-covered-cocoa-powder.jpg');
    } 
  }
  
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), 
  screen and (min-resolution: 192dpi) and (max-width: 767px), 
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero-section {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url('../img/hero-img/mobile-chocolate-covered-cocoa-powder@2x.jpg');
    }
  }
.hero-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 1.21;
letter-spacing: -0.03em;
color: #FFFFFF;
}
.hero-btn-buy {
min-width: 120px;
color: #FFFFFF;
background-color: #FD9222;
border-radius: 100px;
border: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
padding: 12px 28px;
height: 41px;
margin-left: auto;
margin-right: auto;
}