.hero-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 1.21;
letter-spacing: -0.03em;
color: #FFFFFF;
}
.hero-btn-buy {
    min-width: 120px;
    background-color: #FD9222;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}