.how-h {
  width: 171px;
  height: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;

  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.how-point {
  box-sizing: border-box;

  position: absolute;
  width: 8px;
  height: 8px;
  left: 0px;
  top: 5px;

  background: #4c4c4c;
  border: 1px solid #eceded;
}

.how-li {
  width: 291px;
  height: 72px;
  left: 16px;
  top: 0px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  letter-spacing: -0.02em;

  color: #111111;
}

.how-paragraph {
  width: 307px;
  height: 72px;
  font-style: normal;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 20px;
}

.how-blocks {
  width: 335px;
  /* height: 456px; */

  background: #ffffff;
  border-radius: 15px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  padding: 20px 14px 20px 14px;
}

.how-picture {
  display: block;
  width: 335px;
  height: 500px;
  margin-bottom: 20px;
}

.how-section {
  margin-bottom: 72px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.how-svg {
  /* padding-bottom: 10px; */
}

.how-ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.how-li::marker {
  content: url(./img/icons.svg#icon-how_point);
}

@media (min-wdth: 768px) {
  .how-h {
    width: 205px;
    height: 28px;
    font-size: 24px;
  }

  .how-picture {
    width: 614px;
    height: 776px;
  }

  .how-li {
    width: 464px;
    height: 36px;
    left: 16px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: -0.02em;

    color: #111111;
  }
}

@media (min-wdth: 1200) {
  .how-picture {
    width: 600px;
    height: 400px;
  }

  .how-li {
    width: 409px;
    height: 54px;
    left: 16px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: -0.02em;

    color: #111111;
  }
}
