.reviews-section {
  background-color: #fafafa;
  margin-bottom: 72px;
}
.reviews-container {
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  padding-left: 16px;
  padding-right: 16px;
}

img {
  display: block;
}
.reviews-section-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
  margin-bottom: 74px;
}
.reviews-section-title-span {
  color: #111111;
}

.reviewers {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 62px;
}
.reviewer-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #111111;
  margin-top: 67px;
}

.reviewer-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  display: inline;
  max-width: 299px;
  margin-left: auto;
  margin-right: auto;
}

.reviewer-container {
  max-width: 335px;
  height: 200px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.ellipse {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.review-send-btn {
  width: 165px;
  height: 41px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.tablet-2,
.tablet-3 {
  display: none;
}

/* ========== Modal media ========== */
@media screen and (max-width: 427px) {
  .modal {
    max-width: 100%;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .reviews-container {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
  }
  .reviewers {
    display: flex;
    flex-direction: row;
  }
  .tablet-2 {
    display: block;
  }
  .tablet-3 {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .reviews-container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
  .tablet-3 {
    display: block;
  }
}
