/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-comonents.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

@import url('./buy-now.css');
@import url('./leave-a-review-about-our-chocolate.css');
@import url('./explore-our-new-chocolate-first.css');
@import url('./mobile-menu.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}


@media screen and (min-width:375px) {
  .container{
   width: 375px;
   margin-left: auto;
   margin-right: auto; 
   padding-left: 20px;
   padding-right: 20px;  
  }
}

@media screen and (min-width:768px) {
  .container{
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
  }
}

@media screen and (min-width:1200px) {
  .container{
      width:1200px;
  }
  
}